body{
	background-color:black;
	color:white;
	}

.row{
	margin-top: 5px;
}

@media only screen 
and (max-width : 600px) {
	body {
		background-color: gray;
	}
}

.btn{
	background-color:red;
}

.btn.trailer{
	background-color:red;
	color:black;
}
